*, *::before, *::after{
    box-sizing: none;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-flow: row nowrap;
}

#map {
    height: 100vh;
    width: 70%;
}

#markers {
    height: 100vh;
    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

#search-wrapper{
    height: 28vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

#title-markers{
    height: 8vh;
}

#markers-wrapper{
    height: 64vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

#markers-list{
    overflow: auto;
    height: 60vh;
}

.checked {
    color: orange;
}

#build {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-build{
    height: 5vh;
    width: 50px;
}

#result {
    overflow: auto;
}

#modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
#modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
}

#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}